__pycache__/
*.pyc
*.pyo
*.pyd
node_modules/
.env
.venv/
.env.*
.git/
.cache/
dist/
build/
.parcel-cache/
.vscode/
*.log
.DS_Store
*.sqlite3
*.db
docker-compose*.yml
README.md
LICENSE
HELP_*.md
.gitignore
.grylli_aliases
Makefile
.env.example
pyproject.toml
grylli.sh
HELP_RRULE.md
HELP_SMTP.md
screenshots/
tools/*
!tools/reset_admin_password.py
app/babel.cfg
