# ---------------------------------------------------------------------
# Core App Settings
# ---------------------------------------------------------------------
TZ=America/New_York
PUID=1000
PGID=1000
DEBUG=False
FQDN=http://ip_addr:port
# BASE_URL=/CHANGE_ME (No trailing slash)
BASE_URL=/

# Flask secrets and encryption

# python3 -c 'import secrets; print(secrets.token_hex(32))'
FLASK_APP_KEY=changeme-supersecret-key

# python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERRET_KEY=changeme-fernet-key

FLASK_APP_PORT=5069

# en, es, fr (<-- Supported Languages)
DEFAULT_LANGUAGE=en

# ---------------------------------------------------------------------
# System Email Settings
# ---------------------------------------------------------------------
SMTP_HOST=smtp.mailserver.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASS=supersecretpassword
EMAIL_FROM=grylli@example.com
EMAIL_DEFAULT_TO=alerts@example.com
SMTP_USE_TLS=1
