flask==3.1.1
flask-wtf==1.2.2
flask-login==0.6.3
flask-migrate==4.1.0
email-validator==2.2.0
flask_babel==4.0.0
cryptography==44.0.3
apprise==1.9.3
APScheduler==3.11.0
gunicorn==23.0.0
pyfiglet==1.0.2
pylint==3.3.7
isort==6.0.1
black==25.1.0
polib==1.2.0
gpt-po-translator==1.0.2
djlint==1.36.4