{# email/partials/table_view.html #}
<table class="table-auto w-full border-collapse border border-gray-300 dark:border-gray-700">
    <thead>
        <tr>
            <th class="border px-4 py-2">{{ _("Label") }}</th>
            <th class="border px-4 py-2">{{ _("Subject") }}</th>
            <th class="border px-4 py-2">{{ _("To") }}</th>
            <th class="border px-4 py-2">{{ _("Created At") }}</th>
            <th class="border px-4 py-2">{{ _("Actions") }}</th>
        </tr>
    </thead>
    <tbody>
        {% for email in emails %}
            <tr>
                <td class="border px-4 py-2">{{ email.label }}</td>
                <td class="border px-4 py-2">{{ email.subject }}</td>
                <td class="border px-4 py-2">{{ email.recipient }}</td>
                <td class="border px-4 py-2">{{ email.created_at.strftime("%Y-%m-%d %H:%M") }}</td>
                <td class="border px-4 py-2">
                    {% set email = email %}
                    {% include "email/partials/actions.html" %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
