# ---------------------------------------------------------------------
# babel.cfg
# app/babel.cfg
# Extraction configuration for Babel (i18n).
# ---------------------------------------------------------------------

[jinja2: templates/**/*.html]
[python: **/*.py]
encoding = utf-8
