{# ---------------------------------------------------------------------
   index.html
   Default landing page for Grylli
   --------------------------------------------------------------------- #}
{% extends "layout.html" %}

{% block content %}
<div class="max-w-xl mx-auto mt-20 bg-white dark:bg-zinc-800 shadow-md rounded-xl p-6 space-y-4">
  <h1 class="text-xl font-semibold text-black dark:text-white">{{ _('Welcome to Grylli') }}</h1>
  <p class="text-sm text-zinc-600 dark:text-zinc-300">{{ _("You're ready to start building!") }}</p>
</div>
{% endblock %}
